/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;

}

h1,
h2,
h3,
h4,
h5 {
  color: black;
}

p,
label {
  color: rgb(12, 12, 12);
  font-weight: bold;

}

input {
  border: none;
  border-bottom: 1px solid rgb(10, 10, 10);
  padding: 10px 0;
  width: 400px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
  width: 400px;
}

/* page header */
.header {
  height: 160px;
  padding: 20px;
  background-color: #dedbdb;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
 font-style: italic;
}

.header h3 {
  color: black;
  margin-top: 0;
}

/* form container */
.form-container {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: -80px;
}

textarea {
  padding: 10px 5px;

}

.vagas {
  display: flex;
  flex-direction: column;
}

.vagas label {



  padding: 5px;
}

.vagas input[type="checkbox"] {
  margin: 0;


}

.btn-submit,
.btn-reset {
  background-color: #121b6a;
  font-weight: bold;
  border: 2px solid rgb(8, 8, 8);
  padding: 10px;
  border-radius: 15px;
  margin-top: 0;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;

}

.btn-submit:hover,
.btn-reset:hover {
  background-color: white;
  border: rgb(131, 29, 136);
  color: blueviolet;
}

/* form header */
.form-header {
  border-bottom: 1px solid #dfdfdf;
  height: 45px;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.form-header p {
  color: #121b6a;
  border-bottom: 2px solid #121b6a;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  height: 450px;
  line-height: 45px;
}

/* form-body */
.form-body {
  padding: 30px;
}

.form-title {
  margin-bottom: 15px;
}

.form-body p {
  margin-bottom: 20px;
}

.required-field {
  color: red;
}

.box-input {
  margin-bottom: 35px;

}

.block {
  display: block;
}

.box-input p {
  margin-bottom: 15px;
}
.nav-links {
  list-style-type: none;
  margin-top: 0;
}
.nav-links li {
  display: inline;
  margin-left: 1px;
  padding-bottom: 30px;
  text-decoration: none;
}
.nav-links a {
  color: #121b6a;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  font-weight: bold;
}

.nav-links a:hover {
  color: #fcfcfc;
}
